# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/.github/
/.opencode/
/.agents/
.report/
/.temp/
# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/scripts/
# misc
.DS_Store
*.pem
/9trip-b2c-back-end
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/test-output
.gitignore
# env files (can opt-in for committing if needed)
.env*
.env
.env.local
/_reference_wp
/.vscode
/memory-bank
/.clinerules
firebase-debug.log
9trip-b2c-web.code-workspace
tripphuquoc-db-fs-firebase-adminsdk-fbsvc-5695f7d555.json
# vercel
.vercel
.gitignore

# typescript
*.tsbuildinfo
next-env.d.ts
