# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.github/

# testing
/coverage

/test-results
.temp/
# next.js
/.next/
/out/
/test*

# production
/build
/functions/
/playwright-*
/.codenomad/
/.report/
/.sisyphus
/playwright-*
/test*
.temp/
.vscode/
/snapshots/
/.codenomad/

# misc
.DS_Store
*.pem
/9trip-b2c-back-end
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/test-output
# env files (can opt-in for committing if needed)
.env*
.env
.env.local
firebase-debug.log
9trip-b2c-web.code-workspace
tripphuquoc-db-fs-firebase-adminsdk-fbsvc-5695f7d555.json

# typescript
*.tsbuildinfo
next-env.d.ts
.gitignore
.sisyphus/ralph-loop.local.md
/.*/
